<div class="container main-page">
    <div class="panel panel-primary">
        <div class=panel-body>
            <div>
                <h3>About</h3>
                <ul class="list-group">
                    <li class="list-group-item"> Nom: <strong>{{info.nom}}</strong> </li>
                    <li class="list-group-item"> Email: <strong>{{info.email}}</strong> </li>
                    <li class="list-group-item"> Tel: <strong>{{info.tel}}</strong> </li>
                </ul>
            </div>
            
            <div>
                <div class="mg-t-20">
                    <form #f="ngForm" (ngSubmit)="onAddCommentaire(f.value)">
                        <div class="form-group">
                            <h3>Message</h3>
                            <textarea class="form-control" required name="message" ngModel type="text" [(ngModel)]="commentaire.message" aria-label="With textarea"></textarea>
                            <button [disabled]="!f.valid" type="submit" class="btn btn-primary mg-t-20">Add comment</button>
                        </div>
                    </form>
                </div>
                <h3>Comments</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let comment of comments">
                        {{comment.message}}
                        <span class="badge">{{comment.date | date:'dd/MM/yyyy:HH:mm:ss'}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


