<div class="container main-page">
    <div class="panel panel-primary">
        <h3>Gallery</h3>
        <div class="panel-body">
            <form #f="ngForm" (ngSubmit)="onSearch(f.value)">
                <div class="form-group">
                    <input type="text" placeholder="Key word" class="form-control" name="motCle" ngModel required [(ngModel)]=motCle>
                    <button type="Submit" class="btn btn-primary mg-t-20">Search</button>
                </div>
            </form>
            <div class="row">
                <div class="col-md-3" *ngFor="let photo of pagePhotos?.hits">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title"> 
                                <h5>{{photo.user}}</h5>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted">{{photo.tags}}</h6>
                            <img class="mg-t-20" src={{photo.previewURL}}>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="row mg-t-20 justify-content-center">
                <ul class="nav nav-pills">
                    <li [ngClass]="{'active':currentPage==i+1}" class="clickable nav-item" *ngFor="let page of pages; let i=index">
                        <a class="nav-link" (click)="goToPage(i)">{{i}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
